/* module buttons */
.button-canvas {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.button-canvas button {
  padding: .5rem 2rem;
  border: none;
}

#confirm {
  background: transparent;
  border: 3px rgb(21, 230, 21) solid;
  border-radius: .25rem;
  cursor: pointer;
}

#confirm:hover {
  transition: .5s;
  background: rgba(121, 245, 121, 0.7);
}

#cancel {
  background: rgb(248, 78, 56);
  border-radius: .25rem;
  cursor: pointer;
}

#cancel:hover {
  transition: .5s;
  background: rgb(247, 98, 78);
}